<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Projektwebsite Diplomarbeit QuizIT">
        <meta name="author" content="Raphael Tarnoczi">
        <!--TODO Icon erstellen-->

        <title>Projektwebsite QuizIT</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/vegas.min.css" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet">

    </head>
    
    <body id="app">
                
            <main>
                <!--NAVBAR-->
                <nav class="navbar navbar-expand-lg">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="index.html">
                            <img src="images/logo_quizit.png" class="navbar-brand-image img-fluid" alt="QuizIT Logo">
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_1">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_2">Projektteam</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_3">Ziele & Meilensteine</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_4">Technologien</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_5">Fortschritt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!--LANDING PAGE-->
                <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                    <div class="container">
                        <div class="row align-items-center justify-content-center">

                            <div class="col-lg-12 col-12 mx-auto hero-background text-center">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                        <img src="images/logo_quizit.png" class="img-fluid hero-img" alt="QuizIT Logo">
                                        <h2 class="text-white mb-4 pb-lg-2">
                                            Quiz App der HIT am TGM
                                        </h2>
                                        <p class="text-white mb-4 pb-lg-2">
                                            Unterrichtsthemen in Form von Quiz wiederholen und festigen
                                        </p>

                                    </div>
                                    <div class="col-lg-6 col-12 mb-0 mb-lg-0">
                                        <img src="images/screens.png" alt="Mockups der App & Website" style="max-height: 600px; border-radius: 20px; max-width: 100%">
                                    </div>
                                </div>

                                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_2" style="margin-top: 15px; width: 200px;">
                                    Projektteam
                                </a>
                                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_3" style="margin-top: 15px; width: 200px;">
                                    Ziele & Meilensteine
                                </a>
                                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_4" style="margin-top: 15px; width: 200px;">
                                    Technologien
                                </a>
                            </div>

                        </div>
                    </div>
                </section>

                <!--PROJEKTTEAM-->
                <section class="team-section section-padding section-bg" id="section_2">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <h2 class="text-white">Projektteam</h2>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Marius Thaler</h4>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <p class="badge ms-0 me-0" style="background-color: #EB0CD8"><em>Projektleitung</em></p>
                                                    <p class="badge mb-0 ms-1" style="background-color: #0A84FF"><em>iOS</em></p>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="mailto:mthaler@student.tgm.ac.at?subject=Diplomarbeit%20QuizIT" class="ms-auto">
                                                        <i class="bi bi-envelope-fill" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                    <a href="https://www.linkedin.com/in/marius-thaler-b983b4244/" class="ms-2">
                                                        <i class="bi bi-linkedin" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="text-white mb-0 team-description">
                                            Mobile App für iOS zur Darstellung und Verarbeitung von Quiz- und Resultat-Daten
                                        </p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/website-projekteserver.appspot.com/o/imagesTeam%2Fmarius.jpg?alt=media&token=19045257-495d-43fa-a655-d83853e62c31" class="team-block-image img-fluid" alt="Porträt von Marius Thaler">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Raphael Tarnoczi</h4>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <p class="badge ms-0 me-0" style="background-color: #F8FF2E; color:black"><em>Backend</em></p>
                                                    <p class="badge mb-0 ms-1" style="background-color: #0A84FF"><em>iOS</em></p>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="mailto:rtarnoczi@student.tgm.ac.at?subject=Diplomarbeit%20QuizIT" class="ms-auto">
                                                        <i class="bi bi-envelope-fill" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                    <a href="https://www.linkedin.com/in/raphael-tarnoczi/" class="ms-2">
                                                        <i class="bi bi-linkedin" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="text-white mb-0 team-description">
                                            Verwaltung und Bereitstellung der Quiz- und Nutzerdaten sowie Datenabfragen in iOS
                                        </p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/website-projekteserver.appspot.com/o/imagesTeam%2Fraphi.jpg?alt=media&token=e0c9f7bf-a865-419d-a211-f9ca7919f03e" class="team-block-image img-fluid" alt="Porträt von Raphael Tarnoczi">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Timo Enzi</h4>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex">
                                                    <p class="badge ms-0 me-0" style="background-color: #009E50"><em>Android</em></p>
                                                </div>
                                                <a href="mailto:tenzi@student.tgm.ac.at?subject=Diplomarbeit%20QuizIT" class="ms-auto">
                                                    <i class="bi bi-envelope-fill" style="color: white; font-size: 20px;"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <p class="text-white mb-0 team-description">
                                            Mobile App für Android zur Darstellung und Verarbeitung von Quiz- und Resultat-Daten
                                        </p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/website-projekteserver.appspot.com/o/imagesTeam%2Ftimo.jpg?alt=media&token=7928bb50-dd04-4ff0-858d-09161f3813fc" class="team-block-image img-fluid" alt="Porträt von Timo Enzi">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Nikolaus Redl</h4>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <p class="badge ms-0 me-0" style="background-color: #F50202"><em>Web-Frontend</em></p>
                                                    <p class="badge mb-0 ms-1" style="background-color: #000000"><em>UI / UX</em></p>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="mailto:nredl@student.tgm.ac.at?subject=Diplomarbeit%20QuizIT" class="ms-auto">
                                                        <i class="bi bi-envelope-fill" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                    <a href="https://www.linkedin.com/in/nikolaus-redl-6521a7332/" class="ms-2">
                                                        <i class="bi bi-linkedin" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                        <p class="text-white mb-0 team-description">
                                            Entwicklung der Verwaltungs-Website samt Prototyping und Usability Testing, sowie der Schnittstellenkommunikation zum Backend
                                        </p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/website-projekteserver.appspot.com/o/imagesTeam%2Fniki.jpg?alt=media&token=7a864d21-5ae3-4e33-ab15-3421637cbf0a" class="team-block-image img-fluid" alt="Porträt von Nikolaus Redl">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Marcel Turetschek</h4>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex">
                                                    <p class="badge ms-0 me-0" style="background-color: #000000"><em>UI / UX</em></p>
                                                    <p class="badge mb-0 ms-1" style="background-color: #009E50"><em>Android</em></p>
                                                </div>
                                                <div class="d-flex">
                                                    <a href="mailto:mturetschek@student.tgm.ac.at?subject=Diplomarbeit%20QuizIT" class="ms-auto">
                                                        <i class="bi bi-envelope-fill" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                    <a href="https://www.linkedin.com/in/marcel-turetschek-0349b9254/" class="ms-2">
                                                        <i class="bi bi-linkedin" style="color: white; font-size: 20px;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="text-white mb-0 team-description">
                                            Prototyping, UI / UX Design und Usability Testing der mobilen Plattform, sowie Schnittstellenkommunikation der Android App
                                        </p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/website-projekteserver.appspot.com/o/imagesTeam%2Fmarcel.jpg?alt=media&token=81c708cb-4fe3-4bf1-99cb-3c1b088f5792" class="team-block-image img-fluid" alt="Porträt von Marcel Turetschek">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <!--ZIELE & MEILENSTEINE-->
                <section class="goals-section section-padding" id="section_3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <h2 class="text-white">Ziele & Meilensteine</h2>
                            </div>

                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <div class="goal-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <h4 class="text-white">Ziele</h4>
                                    </div>

                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Lernplattform</h6>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Eine digitale Lernplattform für Schüler*innen, welche es ermöglicht Unterrichtsthemen in Form von Quiz zu erlernen bzw. zu wiederholen.</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Benutzerfreundlichkeit</h6>

                                            <span class="underline"></span>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Sowohl die Admin-Website, als auch die App sollen benutzerfreundlich gestaltet sein, so das sich alle Nutzer*innen einfach zurechtfinden.</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Erweiterbares System</h6>

                                            <span class="underline"></span>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Es soll ein System entwickelt werden, das so konzipiert ist, dass Erweiterungen reibungslos funktionieren können.</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Individuelle Lernfortschritte </h6>

                                            <span class="underline"></span>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Die Plattform soll es den Schüler*innen ermöglichen, ihren individuellen Lernfortschritt nachzuvollziehen und gezielt an Schwächen zu arbeiten, indem die Ergebnisse der Quizze detailliert ausgewertet und visualisiert werden.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <div class="goal-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <h4 class="text-white">Meilensteine</h4>
                                    </div>

                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Mockups</h6>

                                            <span class="underline"></span>

                                            <strong class="ms-auto">06.10.2024</strong>
                                            <!--TODO display checkmark, if milestone is reached-->
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Erster Entwurf in Form von Mockups erstellt</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Machbarkeitsstudie</h6>

                                            <span class="underline"></span>

                                            <strong class="ms-auto">27.10.2024</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Die Machbarkeitsstudie ist abgeschlossen.</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>Erstes Zusammenspiel</h6>

                                            <span class="underline"></span>

                                            <strong class="ms-auto">17.11.2024</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Die Datenbank ist vollständig aufgesetzt und erste Abfragen sind möglich.</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>App & Website Prototyp</h6>

                                            <span class="underline"></span>

                                            <strong class="ms-auto">22.12.2024</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Ein erster Prototyp der Admin-Website und der App ist verfügbar.</small>
                                        </div>
                                    </div>
                                    <div class="goal-block">
                                        <div class="d-flex">
                                            <h6>UI-Tests</h6>

                                            <span class="underline"></span>

                                            <strong class="ms-auto">26.01.2025</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Nach der UI-Tests mit Benutzer wurde das Feedback umgesetzt und die App ist bereit für den Release.</small>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="horizontal-line"></div>
                </section>

                <!--TECHNOLOGIEN-->
                <section class="technology-section section-padding section-bg" id="section_4">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <h2 class="text-white">Technologien</h2>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Swift</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            Programmiersprache der iOS-App
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/swift.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">SwiftUI</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            UI-Framework der iOS-App
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/swiftui.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Kotlin</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            Programmiersprache der Android-App
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/kotlin.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">Jetpack Compose</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            UI-Framework der Android-App
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/compose.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">JavaScript</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            Programmiersprache des Backends
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/javascript.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">NodeJS</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            Laufzeitumgebung des Backends
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/node.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">MySQL</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            Datenbank
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/mysql.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="technology-block-wrap">
                                    <div class="technology-block-info d-flex flex-column">
                                        <div class="d-flex flex-column mt-auto mb-3">
                                            <h4 class="text-white mb-0">VueJS</h4>
                                        </div>

                                        <p class="text-white mb-0 technology-description">
                                            Framework des Web-Frontends
                                        </p>
                                    </div>

                                    <div class="technology-block-image-wrapy">
                                        <img src="images/technologies/vue.svg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--FORTSCHRITT-->
                <section class="fortschritt section-padding section-bg" id="section_5">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">Aktuelle News über das Projektes</em>

                                <h2 class="text-white">Fortschritt</h2>
                            </div>

                            <div class="timeline">
                                <div v-for="(fortschritt, index) in currentFortschritt" :key="index" :class="{'timeline-container' : true,'timeline-container-left': index % 2 === 0, 'timeline-container-right': index % 2 !== 0}">
                                    <div class="timeline-content">
                                        <div class="fortschritt-block">
                                            <div class="fortschritt-block-image-wrap d-flex align-items-center" :style="fortschritt.image ? { backgroundImage: 'url(' + fortschritt.image + ')' } : {}">
                                                <div class="header-text">
                                                    <h6 class="text-white mb-0">{{ fortschritt.title }}</h6>
                                                    <p v-for="(department, index) in fortschritt.department"
                                                       :key="index"
                                                       class="badge ms-0 me-2"
                                                       style="margin-top: 10px;"
                                                       :style="getBadgeStyle(department)">
                                                        <em>{{ department }}</em>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="fortschritt-block-info">
                                                <p>{{ fortschritt.description }}</p>
                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <div class="publisher ms-auto">
                                                        <strong class="text-white">{{ fortschritt.date }}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn custom-btn custom-border-btn smoothscroll me-3" style="width: auto; margin-top: 20px;" v-on:click="toggleShowMore" v-if="fortschritt.length >3">
                                <div class="d-flex justify-content-center align-items-center" v-if="!showMore">
                                    Mehr anzeigen
                                    <i class="bi bi-caret-down-fill" style="font-size: 20px"></i>
                                </div>
                                <div class="d-flex justify-content-center align-items-center" v-if="showMore">
                                    Weniger anzeigen
                                    <i class="bi bi-caret-up-fill" style="font-size: 20px"></i>
                                </div>
                            </a>


                        </div>
                    </div>
                </section>

                <!--FOOTER-->
                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-12 mt-4">
                                <em class="text-white d-block mb-4">Projektwebsite Diplomarbeit "QuizIT"</em>
                            </div>
                            <div class="col-lg-2 col-12 mt-4">
                                <em class="text-white d-block mb-4">Stand: <strong>13.11.2024</strong></em>
                            </div>
                        </div>
                    </div>
                </footer>
            </main>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/vegas.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    </body>
</html>
<script>
    const {createApp} = Vue
    createApp({
        data() {
            return {
                showMore: false,
                fortschritt: [
                    {
                        "title": "Erste Endpoints entwickelt",
                        "description": "Unser Node.js- und Express-Backend nimmt Gestalt an: Die ersten API-Endpoints sind erfolgreich implementiert und bereit zur Nutzung. Diese stellen die Basis für eine effiziente Kommunikation zwischen Frontend und Backend dar und ebnen den Weg für zukünftige Entwicklungen und Funktionen.",
                        "date": "13.11.2024",
                        "department": ["Backend"],
                        "image": "images/fortschritt/13_11_2024.png"
                    },
                    {
                        "title": "Erste fertige Designs",
                        "description": "Es wurden die ersten Views in iOS entwickelt und designed: Die Startseite und Fächer-View. Dabei wurden Custom-Fonts installiert und die korrekten Farben importiert. Außerdem ist es nun möglich Bilder aus dem Internet zu laden und anzuzeigen.",
                        "date": "01.11.2024",
                        "department": ["iOS", "Android"],
                        "image": "images/fortschritt/01_11_2024.png"
                    },
                    {
                        "title": "Datenbank angelegt",
                        "description": "Die Datenbank und alle notwendigen Tabellen wurden erfolgreich angelegt. Um die Funktionalität zu testen, wurden die Tabellen zunächst mit Mock-Daten gefüllt. Diese dienen dazu, typische Datenbankoperationen wie Einfügen, Abrufen, Aktualisieren und Löschen zu simulieren. So können bereits im frühen Stadium mögliche Fehler oder Optimierungspotenziale erkannt werden, bevor produktive Daten eingespielt werden.",
                        "date": "15.10.2024",
                        "department": ["Backend"],
                        "image": "https://assets.datamation.com/uploads/2023/06/dm-top-database-challenges.png"
                    },
                    {
                        "title": "Erste Mockups",
                        "description": "Die ersten Design-Mockups der App wurden erfolgreich in Figma erstellt. Diese Entwürfe bieten eine visuelle Vorschau der Benutzeroberfläche und der Benutzerführung. Sie ermöglichen es, Feedback zu sammeln und gegebenenfalls Anpassungen vorzunehmen, bevor die Entwicklung der finalen Version beginnt.",
                        "date": "01.10.2024",
                        "department": ["UI/UX"],
                        "image": "images/fortschritt/01_10_2024.png"
                    },
                    {
                        "title": "Start der Studie",
                        "description": "Die Recherche zu den passenden Technologien für unser Projekt hat begonnen. In diesem Prozess wird detailliert untersucht, welche Tools, Programmiersprachen und Frameworks sich am besten für die Anforderungen eignen. Ziel ist es, eine fundierte Entscheidung zu treffen, um sowohl die technische Effizienz als auch die langfristige Skalierbarkeit und Wartbarkeit des Projekts sicherzustellen.",
                        "date": "17.09.2024",
                        "department": ["Alle"],
                        "image": "https://www.lernen.net/wp-content/uploads/2018/11/recherche-recherchieren-feature-depo.jpg"
                    },
                    {
                        "title": "Projektstart",
                        "description": "Auf der Projektwoche in Kärnten war der Startschuss unserer Diplomarbeit. Dort haben wir die ersten Details unserer Projektes ausgearbeitet. Der Projektantrag inklusive der Aufgabenverteilung wurde ebenfalls dort formuliert. Basierend auf unserer Einteilung wurden dann die ersten Schritte für die Organisation und Planung unserer Diplomarbeit eingeleitet, wie die Definition von Tickets oder groben Skizzen, um sich auf den Ablauf unserer App festzulegen.",
                        "date": "09.09.2024",
                        "department": ["Alle"],
                        "image": "https://media04.meinbezirk.at/article/2016/09/02/2/9133512_XXL.jpg?1534673125"
                    }
                ]
            }
        },
        methods: {
            toggleShowMore() {
                this.showMore = !this.showMore
            },
            getBadgeStyle(department) {
                switch (department) {
                    case 'iOS':
                        return {
                            backgroundColor: '#0A84FF',
                            color: 'white'
                        };
                    case 'Android':
                        return {
                            backgroundColor: '#009E50',
                            color: 'white'
                        };
                    case 'Backend':
                        return {
                            backgroundColor: '#F8FF2E',
                            color: 'black'
                        };
                    case 'UI/UX':
                        return {
                            backgroundColor: '#000000',
                            color: 'white'
                        };
                    case 'Web-Frontend':
                        return {
                            backgroundColor: '#F50202',
                            color: 'white'
                        };
                    case 'Alle':
                        return {
                            backgroundColor: '#EB0CD8',
                            color: 'white'
                        };
                    default:
                        return {
                            backgroundColor: '#CCCCCC', // Default background color
                            color: 'black'              // Default text color
                        };
                }
            }
        },
        computed: {
            currentFortschritt() {
                return this.showMore ? this.sortedFortschritt : this.sortedFortschritt.slice(0, 3);

            },
            sortedFortschritt() {
                return this.fortschritt.sort((a, b) => {
                    const dateA = new Date(a.date.split('.').reverse().join('-'));
                    const dateB = new Date(b.date.split('.').reverse().join('-'));
                    return dateB - dateA;
                });
            }
        }
    }).mount('#app')
</script>
